<h2>Viewing Map using MapBox GL JS</h2>

<a style="text-decoration: none;" routerLink="showingMap">Click Me Too Show Map </a>
<br>
<a style="text-decoration: none;" routerLink="3DView">Click Me Too Show 3D View Map </a>
<br>
<a style="text-decoration: none;" routerLink="gslm">Click Me Too Show Gradient Sky Layer Map </a>
<br>
<a style="text-decoration: none;" routerLink="popup">Click Me Too Display a PopUp Message on Map </a>
<br>
<a style="text-decoration: none;" routerLink="clickpopup">Click Me Too Display a PopUp Message on Click</a>
<br>
<a style="text-decoration: none;" routerLink="distmure">Click Me Too Show Distance Between Points</a>
<br>
<a style="text-decoration: none;" routerLink="newmaplayer">Click Here To Show New Layer on Map</a>
<br>
<a style="text-decoration: none;" routerLink="ump">Click Here To View All the Features Undeer The Mouse Pointer</a>
<br>
<a style="text-decoration: none;" routerLink="fsm">Click Here To View The Full Screen Map</a>
<br>
<a style="text-decoration: none;" routerLink="cig">Click Here To See Map According To Your lng lat Entered </a>

<br>
<a style="text-decoration: none;" routerLink="polygon">Click Here To See Polygon shape on Map</a>
<br>
<a style="text-decoration: none;" routerLink="defaultmarker">Click Here To Open Default Marker Component </a>
<br>
<a style="text-decoration: none;" routerLink="addline">Click Here To See Line To a Map </a>




<hr>

<!-- <app-map-box></app-map-box> -->
<router-outlet></router-outlet>